.DS_Store
.idea
build-example/app-code/html
web-php/demo-project/var/mysql_data
!web-php/demo-project/var/mysql_data/.gitkeep
web-php/demo-project/var/mysql_log
!web-php/demo-project/var/mysql_log/.gitkeep
tools/var/mysql_data/*
tools/var/mysql_log/*

web-php/demo-dorisfood
